.container{
    text-align: center;
    margin:20px;
}
.container div h3{
    background-image: linear-gradient(120deg,#7643ee 0%,#6156ff 100%);
    border-radius: 50px;
    width: 400px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    direction: rtl;
}

.container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
}
.container img{
    width: 200px;
}
@media screen and (max-width:320px){
    .container div h3{
        width: 300px;
        font-size: 2rem;
    }
}
@media screen and (max-width:480px){
    .container div h3{
        width: 350px;
        font-size: 2.5rem;
    }
}
